{% extends "base.html" %}

{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/score.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

<div class="admin-container">

    <div class="admin-header">
        <div>
            <h1 class="admin-title">Administration Page</h1>
            <p class="admin-subtitle">Manage Users and Review User Submissions</p>
        </div>
    </div>

    <div class="score-card animate-fade-in mb-3">
        <div class="card-header">
            <h5>User Table</h5>
        </div>
        <div class="card-body">
            <div class="user-container">
                <span class="user-sub">Manage User Roles</span>
            </div>

            <div class="user-container animate-fade-in">
                <table class="user-table animate-fade-in">
                    <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username | capitalize }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.role == 'Admin' %}
                            <span class="pill blue-pill">Admin</span>
                            {% else %}
                            {{ user.role }}
                            {% endif %}
                        </td>

                        {% if current_user.role == 'Admin' %}
                        <td colspan="2">
                            <form action="{{ url_for('edit_role', user_id=user.id) }}" method="POST" class="role-form">
                                <select name="role" class="pill-dropdown">
                                    <option value="Admin" {% if user.role == 'Admin' %}selected{% endif %}>Admin</option>
                                    <option value="Student" {% if user.role == 'Student' %}selected{% endif %}>Student</option>
                                    <option value="Staff" {% if user.role == 'Staff' %}selected{% endif %}>Staff</option>
                                    <option value="Facilities" {% if user.role == 'Facilities' %}selected{% endif %}>Facilities</option>
                                    <option value="ST" {% if user.role == 'ST' %}selected{% endif %}>ST</option>
                                    <option value="UL" {% if user.role == 'UL' %}selected{% endif %}>UL</option>
                                </select>
                                <button type="submit" class="edit-button">Edit</button>
                            </form>
                        </td>
                        {% else %}
                        <td colspan="2"><span class="muted">N/A</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>

    <div class="score-card animate-fade-in mb-3">
        <div class="card-header">
            <h5>User Submissions Table</h5>
        </div>
        <div class="card-body">
            <div class="user-container">
                <span class="user-sub">Manage User Submissions</span>
            </div>

            <div class="user-container animate-fade-in">
                <table class="user-table animate-fade-in">
                    <thead>
                    <tr>
                        <th>Submission Date</th>
                        <th>Username</th>
                        <th>Type</th>
                        <th>Proof</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for submission in submissions %}
                    <tr>
                        <td>{{ submission.submission_date }}</td>
                        <td>{{ submission.username | capitalize }}</td>
                        <td>{{ submission.type }}</td>
                        <td>{{ submission.proof | capitalize }}</td>
                        <td>
                            <button class="approve-button">Approve</button>
                            <button class="decline-button">Decline</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock %}


